/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
@media (prefers-color-scheme: light), (prefers-color-scheme: dark) {
  :root {
    --color-basic-pink: #ff8dcb;
    --color-title-pink: #ffc2e6;
    --color-almost-white-bg: #fff1f7;
    --color-real-red: #ff0070;
    --color-approximately-black: #000028;
    --color-almost-black: #353430;

    --font-regular-size: 18px;
    --font-regular-line-height: 1;
    --font-project-family: "IBM Plex Mono", "Arial", sans-serif;

    --spacing-regular-gap: 10px;
    --spacing-decoration-gap: clamp(10px, 2.65vw, 20px);
    --spacing-section-child-margin: 40px;

    --size-min-height: 668px;
    --size-header-margin-left: min(10px, calc(20px - 2.6vw));

    --thickness-corner: 1px;
    --position-rec-empty-x: 30px;
    --rec_empty_x_pos: 35px;
  }
}
