/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --heading-color: #db00ff;
  --accent-color: #ff0070;
  --text-title: #000028;
  --text-heading: #ff0070;
  --text-color: #f1b2ce;
  --decorated-zone: #ff0070;
  --decorated-zone-hover: rgba(255, 0, 112, 0.4);
  --background-color: #000028;
  --font-family: "IBM Plex Mono";
  --font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size-small: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --background-image: url(../images/cover-image-dark.png);
}
